
/nearest_neighbors/.spyproject
/PoseEstimation/MMPose/demo/__pycache__
/PoseEstimation/MMPose/mmpose/__pycache__
/PoseEstimation/MMPose/mmpose/apis/__pycache__
/PoseEstimation/MMPose/mmpose/apis/inferencers/__pycache__
/PoseEstimation/MMPose/mmpose/apis/inferencers/utils/__pycache__
/PoseEstimation/MMPose/mmpose/codecs/__pycache__
/PoseEstimation/MMPose/mmpose/codecs/utils/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/datasets/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/datasets/animal/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/datasets/base/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/datasets/body/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/datasets/body3d/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/datasets/face/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/datasets/fashion/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/datasets/hand/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/datasets/hand3d/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/datasets/wholebody/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/datasets/wholebody3d/__pycache__
/PoseEstimation/MMPose/mmpose/datasets/transforms/__pycache__
/PoseEstimation/MMPose/mmpose/engine/__pycache__
/PoseEstimation/MMPose/mmpose/engine/hooks/__pycache__
/PoseEstimation/MMPose/mmpose/engine/optim_wrappers/__pycache__
/PoseEstimation/MMPose/mmpose/engine/schedulers/__pycache__
/PoseEstimation/MMPose/mmpose/evaluation/__pycache__
/PoseEstimation/MMPose/mmpose/evaluation/evaluators/__pycache__
/PoseEstimation/MMPose/mmpose/evaluation/functional/__pycache__
/PoseEstimation/MMPose/mmpose/evaluation/metrics/__pycache__
/PoseEstimation/MMPose/mmpose/models/__pycache__
/PoseEstimation/MMPose/mmpose/models/backbones/__pycache__
/PoseEstimation/MMPose/mmpose/models/backbones/utils/__pycache__
/PoseEstimation/MMPose/mmpose/models/data_preprocessors/__pycache__
/PoseEstimation/MMPose/mmpose/models/distillers/__pycache__
/PoseEstimation/MMPose/mmpose/models/heads/__pycache__
/PoseEstimation/MMPose/mmpose/models/heads/coord_cls_heads/__pycache__
/PoseEstimation/MMPose/mmpose/models/heads/heatmap_heads/__pycache__
/PoseEstimation/MMPose/mmpose/models/heads/hybrid_heads/__pycache__
/PoseEstimation/MMPose/mmpose/models/heads/regression_heads/__pycache__
/PoseEstimation/MMPose/mmpose/models/heads/transformer_heads/__pycache__
/PoseEstimation/MMPose/mmpose/models/heads/transformer_heads/transformers/__pycache__
/PoseEstimation/MMPose/mmpose/models/losses/__pycache__
/PoseEstimation/MMPose/mmpose/models/necks/__pycache__
/PoseEstimation/MMPose/mmpose/models/pose_estimators/__pycache__
/PoseEstimation/MMPose/mmpose/models/task_modules/__pycache__
/PoseEstimation/MMPose/mmpose/models/task_modules/assigners/__pycache__
/PoseEstimation/MMPose/mmpose/models/task_modules/prior_generators/__pycache__
/PoseEstimation/MMPose/mmpose/models/utils/__pycache__
/PoseEstimation/MMPose/mmpose/structures/__pycache__
/PoseEstimation/MMPose/mmpose/structures/bbox/__pycache__
/PoseEstimation/MMPose/mmpose/structures/keypoint/__pycache__
/PoseEstimation/MMPose/mmpose/utils/__pycache__
/PoseEstimation/MMPose/mmpose/visualization/__pycache__
/PoseEstimation/ZED/ZED_Body_Export_FBX/build/.vs
/PoseEstimation/ZED/ZED_Body_Tracking_OSC/.spyproject
/PoseEstimation/ZED/ZED_Body_Tracking_OSC/__pycache__
/PoseEstimation/ZED/ZED_Body_Tracking_OSC/cv_viewer/__pycache__
/PoseEstimation/ZED/ZED_Body_Tracking_OSC/ogl_viewer/__pycache__
/MocapAnalysisPython/__pycache__
/MocapAnalysisPython/.spyproject
/MocapAnalysis/.vs
/MocapAnalysis/obj
PoseEstimation/ZED/daniel_zed_fluidity_rightarm.svo
PoseEstimation/ZED/daniel_zed_levitation_rightarm.svo
PoseEstimation/ZED/daniel_zed_particles_rightarm.svo
PoseEstimation/ZED/daniel_zed_solo1.svo
PoseEstimation/ZED/daniel_zed_solo2.svo
PoseEstimation/ZED/daniel_zed_staccato_rightarm.svo
PoseEstimation/ZED/daniel_zed_thrusting_rightarm.svo
PoseEstimation/ZED/ZED_Body_Export_FBX/build/Release/2024-8-4-14-29-2.fbx
PoseEstimation/ZED/ZED_Body_Export_FBX/build/Release/2024-8-4-14-29-2.fbx
/ClusteringInteractive/.spyproject
/ClusteringInteractive/__pycache__
/ClusteringInteractive/common/__pycache__
/ClusteringInteractive/common/__pycache__
/NearestNeighbors/__pycache__
/NearestNeighbors/common/__pycache__
/NearestNeighbors/common/__pycache__
/MocapClassifier/.spyproject
/MocapClassifier_Interactive/.spyproject
/MocapClassifier/results
/PoseEstimation/MMPose/.spyproject
PoseEstimation/Yolo/yolov8x-pose.pt
/ClusteringInteractive_pos2d/.spyproject
/ClusteringInteractive_pos2d/__pycache__
/ClusteringInteractive_pos2d/common/__pycache__
PoseEstimation/ZED/ZED_Body_Export_FBX/build/Release/2024-9-2-17-51-31_.fbx
PoseEstimation/ZED/ZED_Body_Export_FBX/build/Release/2024-9-2-19-14-34.fbx
PoseEstimation/ZED/Incubatio_test.svo
/MocapAnalysisExtendedNRT/.spyproject
/MocapAnalysisExtendedNRT/__pycache__
/MocapAnalysisExtendedNRT/common/__pycache__
/MocapAnalysisExtendedNRT/results
/NearestNeighbors/.spyproject
